
body {
    font-family: 'Nunito', sans-serif;
    background-color: #f8f9fa;
    color: #495057;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #343a40;
    color: #ffffff;
    padding: 15px 0;
}

.navbar-brand {
    color: #ffffff !important;
    font-weight: bold;
    font-size: 1.5rem;
}

.navbar-toggler-icon {
    background-color: #ffffff;
}

.navbar-nav .nav-item {
    margin-right: 15px;
}

.navbar-nav .nav-link {
    color: #ffffff !important;
    font-size: 1.1rem;
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
    color: #dee2e6 !important;
}

.dropdown-menu {
    background-color: #343a40;
}

.dropdown-item {
    color: #ffffff !important;
    transition: background-color 0.3s;
}

.dropdown-item:hover {
    background-color: #6c757d;
}

.py-4 {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 30px;
    width: 400px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #343a40;
}

input.form-control {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
    transition: border-color 0.3s;
}

input.form-control:focus {
    border-color: #007bff;
    outline: none;
}

button.btn-primary {
    background-color: #007bff;
    color: #ffffff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s;
}

button.btn-primary:hover {
    background-color: #0056b3;
}
.navbar-expand-md button {
    display: none;

}
a {
    text-decoration: none;
}
.navbar-expand-md  .container {
    display: flex;
    justify-content: center;
    width: 100%;

}

